@charset "utf-8";
/* CSS Document */
html {
	height: 100%;
}
body {
	min-height: 100%;
	padding-top: 50px;
	background-image: url("../images/prism.png");
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/*
body > div {
	height: 1000px;
}
*/
#about {
	margin: 50px auto 0px auto;
	padding: 25px;
	width: 40%;
	background-color: #d3d6cd;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
}
/* #about img {

} */
.aboutMe p {
	text-align: center;
}
.aboutMe {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#portfolio-container {
	margin: 15px auto 15px auto;
	width: 70%;
	background-color: #d3d6cd;
	padding: 25px 25px 0 25px;
	text-align: center;
	
}
#portfolio-container a:link, #portfolio-container a:visited {
	text-decoration: none;
	color: white;
}
#portfolio {

	margin: 0 auto 0 auto;
/*
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	align-items: center;
	justify-items: center;
*/
/*
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
*/
}

#portfolio .card {
	padding-left: 0;
	padding-right: 0;
	margin: 15px auto 0 auto;
	text-align: left;
}
#resume {
	margin: 15px auto 15px auto;
	width: 70%;
	text-align: center;
	background-color: #d3d6cd;
}


footer {
	margin: 25px auto 0px auto;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: white;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
body .nav {
	padding: 0px;
	text-align: center;
	line-height: 50px;
	font-size: 1.5em;
	font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
	z-index: 100;
}
.nav a {
	padding: 0px;
}
.nav a:link, .nav a:visited {
/*	margin: 0px 10px 0px 10px;*/
	color: black;
	text-decoration: none;
	text-align: center;
	height: 50px;
	width: 150px;
	transition: background-color 1s;
}
.nav a:hover {
	background-color: lightgray;
}
.nav-margin {
	margin-right: auto;
	margin-left: auto;
}
.navbar-toggler {
	margin: 5px;
}
textarea{
	width: 100%;
}
form h1 {
	text-align: center;
}
#bioImage {
	width: 65%;
	height: auto;
	border-radius: 50%;
	margin: 5px auto 5px auto;
}
.hover-skills ul {
	list-style-type: none;
	margin: 0 auto 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.hover-skills ul li {
	padding: 5px;
	width: 200px;
	background-color: rgb(190, 190, 190);
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
	transition: background-color .25s, color .25s;
}
.hover-skills ul li:hover {
	background-color: rgb(180, 118, 118);
	color: white;
}
#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9 {
	margin: 40px auto 40px auto;
	padding: 0px;
	width: 400px;
	height: 250px;
	/* line-height: 100px; */
	text-align: center;
}

.front {
	background-color: lightblue;
}
.back {
	background-color: rgb(122, 102, 102);
}
.btn {
	border-radius: 0px 0px 10px 10px;
	width: 100%;
	}
.projectImage, .skills {
	width: 100%;
	height: 100%;
}
.hover-skills ul li {
	width: 45%;
}
.projects-link {
	 margin: 50px 0px 15px 0px;
	 width: 150px;
}
.contact-btn {
	width: 50%;
	height: 75px;
	margin: 10px auto 10px auto;
}
@media only screen and (max-width: 1060px) {
	#container {
		width: 100%;
	}
	#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9 {
		width: 600px;
		height: 417px;
	}

}
